/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../assets/fonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../assets/fonts/lato-v23-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../assets/fonts/lato-v23-latin-900.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../assets/fonts/lato-v23-latin-900.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    color: #000;
}

/* header styles starts */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    /* выровнять слова по низу строки */
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}

.header-nav-list {
    display: flex;
    flex-wrap: wrap;

}

.header-nav-link {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
}

.header-nav-item:not(:last-child) {
    margin-right: 82px;
}

.header-nav-item:hover,
.header-nav-item:focus,
.header-nav-item:active {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    transform: scale(1.3);
    transition: 0.8s;
}
/* header styles ends */

/* start-screen styles starts */
.start-screen {
    height: 100vh;
    background-image: url(../assets/img/bg-image-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* start-screen styles starts */
